body {
  margin: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.margin-right_8 {
  margin-right: 8px;
}

.margin_0 {
  margin: 0;
}

.padding-left_16 {
  padding-left: 16px;
}

.color_secondary {
  color: #aaa;
}

.width_128 {
  width: 128px;
}

.height_128 {
  width: 120px;
}

.display_flex {
  display: flex;
}

.column-gap_32 {
  column-gap: 32px;
}